<div id="<%= dom_id question %>">
  <table>
    <tr>
      <th>标题:</th>
      <td><%= question.title %></td>
    </tr>

    <tr>
      <th>内容:</th>
      <td><%= question.content %></td>
    </tr>

    <tr>
      <th>状态:</th>
      <td><%= question.status %></td>
    </tr>

    <tr>
      <th>优先级:</th>
      <td><%= question.level %></td>
    </tr>

    <tr>
      <th>分配给:</th>
      <td><%= question.assigned_to %></td>
    </tr>

    <tr>
      <th>开始日期:</th>
      <td><%= question.start_day %></td>
    </tr>
  </table>

</div>
