<div id="<%= dom_id question %>">
  <p>
    <strong>Title:</strong>
    <%= question.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= question.content %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= question.status %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= question.level %>
  </p>

  <p>
    <strong>Assigned to:</strong>
    <%= question.assigned_to %>
  </p>

  <p>
    <strong>Start day:</strong>
    <%= question.start_day %>
  </p>

</div>
