<div id="<%= dom_id blog %>">
  <table>
    <tr>
      <th>标题:</th>
      <td>
        <%= blog.title %>
      </td>
    </tr>

    <tr>
      <th>内容:</th>
      <td>
        <%= blog.content %>
      </td>
    </tr>

    <tr>
      <th>浏览:</th>

      <td>
        <%= blog.views %>
      </td>
    </tr>

    <tr>
      <th>公开:</th>
      <td>
        <%= blog.public %>
      </td>
    </tr>

    <tr>
      <th>置顶:</th>

      <td>
        <%= blog.top %>
      </td>
    </tr>

    <tr>
      <th>Category:</th>
      <td>
        <%= blog.category %>
      </td>
    </tr>
  </table>

</div>
