<p style="color: green"><%= notice %></p>

<h1>博客</h1>
<%= link_to "新建", new_blog_path %>

<div id="blogs">
  <table>
    <% @blogs.each do |blog| %>
      <tr>
        <td>
          <%= blog.title %>&nbsp; <%= blog.category %>&nbsp; (<%= blog.views %>)
        </td>
        <td>
          <% for blog in @blogs %>
            <div class="blog" data-id="<%= blog.id %>">
              <%= link_to '查看', blog_path(blog) %>
              <span class="views-count"><%= blog.views %></span>
            </div>
          <% end %>
        </td>
      </tr>
    <%#= render blog %>
    <% end %>
  </table>
</div>

<%= link_to "新建", new_blog_path %>
<script>
  $(document).ready(function() {
    $('.blog').click(function() {
      var blogId = $(this).data('id');
      $.ajax({
        url: '/blogs/' + blogId,
        method: 'GET',
        success: function() {
          var viewsCount = $(this).find('.views-count').text();
          var totalViewsCount = $('#total-views-count').text();
          $(this).find('.views-count').text(parseInt(viewsCount) + 1);
          $('#total-views-count').text(parseInt(totalViewsCount) + 1);
        }
      });
    });
  });
</script>

Total views: <span id="total-views-count"><%= Blog.sum(:views) %></span>
