<div id="<%= dom_id project %>">
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>Mark:</strong>
    <%= project.mark %>
  </p>

  <p>
    <strong>Home:</strong>
    <%= project.home %>
  </p>

  <p>
    <strong>Is public:</strong>
    <%= project.is_public %>
  </p>

  <p>
    <strong>Parent project:</strong>
    <%= project.parent_project %>
  </p>

  <p>
    <strong>Isinherit parent project members:</strong>
    <%= project.isInherit_Parent_Project_Members %>
  </p>

</div>
