<div id="<%= dom_id project %>">
  <table>
    <tr>
      <th>名称:</th>
      <td><%= project.name %></td>
    </tr>

    <tr>
      <th>描述:</th>
      <td><%= project.description %></td>
    </tr>
    <!--

    <tr>
      <th>标注:</th>
      <td><%= project.mark %></td>
    </tr>

    <tr>
      <th>主页:</th>
      <td><%= project.home %></td>
    </tr>

    <tr>
      <th>公开:</th>
      <td><%= project.is_public %></td>
    </tr>

    <tr>
      <th>父项目:</th>
      <td><%= project.parent_project %></td>
    </tr>

    <tr>
      <th>继承父项目的成员:</th>
      <td><%= project.isInherit_Parent_Project_Members %></td>
    </tr>
    -->
  </table>

</div>
