<!DOCTYPE html>
<html>
  <head>
    <title>tasks</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <script type="text/javascript" src="https://api.map.baidu.com/api?type=webgl&v=1.0&ak=fouSl90MHO2NLs85rlQOOePQy4CXkFXx"></script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <%= stylesheet_link_tag "application" %>

    <%= javascript_importmap_tags %>
  </head>

  <body style="padding: 0 20px;margin: 0 auto; width: 1440px; background: #F6F8FA;">
    <% if user_signed_in? %>
      <nav class="navbar navbar-expand-lg" style="width: 1440px; background: white; box-shadow: 0px 4px 10px 0px rgba(78,89,105,0.06);">
        <div class="container-fluid">
          <%#= link_to (image_tag 'logo.jpg', style: 'width: 37px;'), root_path, style: 'margin-left: 16px;' %>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <%= link_to 'Home', root_path, style: "text-decoration: none; color: black; margin-left: 7px;" %>
                <span style="color: #3c6eed; margin-left: 17px;">
                  <!--
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                  </svg>
                  -->

                </span>
              </li>
            </ul>
          </div>

          <div class="logout">
            <span style="margin-right: 23px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
              </svg>
              <span class="email_unread_number">2</span>
            </span>
            欢迎您：
            <div class="dropdown" style="margin-right: 22px;">
            <span data-bs-toggle="dropdown" aria-expanded="false">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
              </svg>
              <%= current_user.email %>
              &nbsp;
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
              </svg>
            </span>
            <ul class="dropdown-menu">
              <li>
                <%#= link_to "修改密码", edit_password_user_passwords_path(current_user), class: 'dropdown-item', style: 'color: black; text-decoration: none;' %>
              </li>
              <li>
                <%= link_to '退出登录', destroy_user_session_path, :method => :delete, data: {confirm: '确定退出?'}, class: 'dropdown-item', style: 'color: black; text-decoration: none;' %>
              </li>
            </ul>
          </div>
          </div>
        </div>
        </div>
      </nav>
      <div class="container-fluid">
        <p style="color: green; text-align: center;z-index: 2; position: ; margin-left: 500px;"><%= notice %></p>
        <div class="row">
          <%#= render 'home/menu' %>
          <%= yield %>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
<script>
  $( function() {
    $( "#datepicker" ).datepicker({dateFormat: "yy-mm-dd"});
  } );
</script>
<style>
  .logout {
    justify-content: space-around; align-items: inherit; display: inherit;position: absolute; right: 0;
  }
  .menu_link_clicked{
    width: 168px;
    height: 44px;
    background: #E5EDFB !important;
    border-radius: 4px 4px 4px 4px;
    opacity: 1;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    display: block;
    color: #4E5969;
    line-height: 23px;
    margin-top: 10px;

  }
  .menu_icon {
    margin-right: 24px;
    margin-left: 32px;
  }
  .email_unread_number {
    width: 20px;
    height: 20px;
    background: #D54941;
    border-radius: 999px 999px 999px 999px;
    opacity: 1;
    display: ;
    text-align: center;
    font-size: 12px;
    font-family: PingFang SC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(255,255,255,0.9);
    line-height: 20px;
    margin-left: -5px;
    position: absolute;
    z-index: 2;
    top: -5px;
  }
  .admin_type {
    font-size: 14px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #006DF1;
    line-height: 20px;
    margin-left: 8px;
  }
</style>
